# SPDX-FileCopyrightText: 2022-2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-FileCopyrightText: 2022-2023 Tobias Kaminsky <tobias@kaminsky.me
# SPDX-FileCopyrightText: 2022-2023 Ãlvaro Brey <alvaro@alvarobrey.com>
# SPDX-FileCopyrightText: 2023 Andy Scherzinger <info@andy-scherzinger.de>
# SPDX-License-Identifier: GPL-3.0-or-later

name: Lint workflow files
on:
  pull_request:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

concurrency: 
  group: lint-android-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Download actionlint
        run: |
          cd /tmp
          wget https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash
          chmod +x ./download-actionlint.bash && ./download-actionlint.bash
      - name: Lint repo workflows
        run: /tmp/actionlint
      - name: Lint synced workflows
        run: |
          cd config/workflows
          /tmp/actionlint ./*
