# SPDX-FileCopyrightText: 2023-2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-FileCopyrightText: 2023 Tobias Kaminsky <tobias@kaminsky.me
# SPDX-FileCopyrightText: 2022-2023 Ãlvaro Brey <alvaro@alvarobrey.com>
# SPDX-FileCopyrightText: 2023 Andy Scherzinger <info@andy-scherzinger.de>
# SPDX-License-Identifier: GPL-3.0-or-later

name: Sync Files
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

# Declare default permissions as read only.
permissions: read-all

concurrency: 
  group: sync-files-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@8b92be3375cf1d1b0cd579af488a9255572e4619 # v1.21.1
        with:
          GH_PAT: ${{ secrets.GH_PAT }}
          GIT_USERNAME: nextcloud-android-bot
          GIT_EMAIL: android@nextcloud.com
          COMMIT_BODY: "Signed-off-by: nextcloud-android-bot <android@nextcloud.com>"
